<!-- Conteúdo comum a todas as páginas -->
<!DOCTYPE html>
<html>
<style>
    body {
    font-family: 'DM Sans', sans-serif;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap" rel="stylesheet">
    <title>UMenu</title>
</head>
<body>
    <main>
        <!-- Conteúdo específico de cada página -->
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- Rodapé -->
        <p>&copy; 2023 Meu Projeto. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
