<!-- Conteúdo comum a todas as páginas -->
<!DOCTYPE html>
<html>
<style>
    body {
    font-family: 'DM Sans', sans-serif;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap" rel="stylesheet">
    <title>UMenu</title>
</head>
<body>
    <main>
        <!-- Conteúdo específico de cada página -->
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- Rodapé -->

    </footer>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var screenWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
    
            if (screenWidth > 768) { // Altere o valor "768" para o tamanho de tela desejado
                var messageElement = document.createElement("div");
                messageElement.className = "fixed inset-0 flex justify-center items-center z-50 bg-black bg-opacity-80 text-white text-2xl";
                messageElement.innerText = "Este site foi projetado para ser acessado em smartphones.";
    
                document.body.insertBefore(messageElement, document.body.firstChild);
            }
        });
    </script>
    
    
</body>
</html>
