{% extends 'base.html' %} {% block content %}
    <!-- Barra de navegação superior -->
    <header class="flex justify-between items-center px-4 py-2">
        <!-- Botão Voltar -->
        <button  onclick="history.back()">
            <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="22" cy="22" r="21.5" fill="white" stroke="#F1F1F5"/>
            <path d="M24.75 15.5833C24.6294 15.5826 24.5098 15.6058 24.3981 15.6514C24.2864 15.697 24.1849 15.7642 24.0992 15.8492L18.5992 21.3492C18.4285 21.5209 18.3326 21.7533 18.3326 21.9954C18.3326 22.2376 18.4285 22.4699 18.5992 22.6417L24.0992 28.1417C24.2746 28.2918 24.5001 28.3703 24.7308 28.3614C24.9615 28.3525 25.1804 28.2569 25.3436 28.0936C25.5069 27.9304 25.6025 27.7115 25.6114 27.4808C25.6203 27.2501 25.5419 27.0245 25.3917 26.8492L20.5425 22L25.3917 17.1508C25.5204 17.0232 25.6084 16.8602 25.6445 16.6825C25.6806 16.5049 25.6632 16.3205 25.5945 16.1527C25.5258 15.9849 25.409 15.8413 25.2586 15.7399C25.1083 15.6386 24.9313 15.5841 24.75 15.5833Z" fill="#06161C"/>
            </svg>
        </button>

        <!-- Nome da loja -->
        <h1 class="text-black text-2xl font-bold">{{ vendedor.nome }}</h1>

        <!-- Barra de busca -->
        <div class="relative">
            <!--<input type="text" placeholder="Buscar" class="bg-white text-gray-700 rounded-md px-4 py-2 focus:outline-none"> class="absolute right-2 top-2 text-gray-500"
            <button >
                <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="22" cy="22" r="21.5" fill="white" stroke="#F1F1F5"/>
                    <path d="M21.4125 27.825C24.954 27.825 27.825 24.954 27.825 21.4125C27.825 17.871 24.954 15 21.4125 15C17.871 15 15 17.871 15 21.4125C15 24.954 17.871 27.825 21.4125 27.825Z" stroke="#06161C" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M28.5 28.5L27.15 27.15" stroke="#06161C" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                    
            </button>-->
        </div>
    </header>

    <!-- Conteúdo principal -->


    <main class="container mx-auto p-1 pb-16">
        <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 justify-center">
          {% for produto in produtos %}
          {% load custom_filters %}
          <div class="w-64 h-100 bg-gray-100 rounded-lg shadow-md overflow-hidden flex flex-col relative">
            <img src="{{ produto.foto_produto }}" alt="{{ produto.nome }}" class="w-full h-60 object-cover">
            <div class="flex flex-col justify-between flex p-2 mt-0">
              <h2 class="text-lg font-semibold overflow-hidden whitespace-nowrap overflow-ellipsis mb-2">{{ produto.nome }}</h2>
              <p class="text-sm text-gray-600 mb-2">{{ produto.descricao|truncatechars:61 }}</p>
              <div class="flex items-center justify-between">
                <div>
                  <p class="h-10 text-red-500 font-semibold self-start flex items-center justify-end">R$ {{ produto.preco|floatformat:2|replace_dot_with_comma }}</p>
                </div>
                <div  class="qtd-input h-10 flex items-center justify-center bg-gray-100 rounded-full px-1 py-0.5 shadow-md" data-product-id="{{ produto.id }}" data-vendedor-id="{{ vendedor.id }}" data-product-preco="{{ produto.preco }}" data-product-nome="{{ produto.nome }}" style= "display: none;">
                    <button data-action="decrement" class="bg-gray-100 rounded-l-full text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-8 rounded-l cursor-pointer outline-none">
                      <span class="m-auto text-sm font-thin">−</span>
                    </button>
                    <input type="number" class="qtd outline-none focus:outline-none text-center w-10 bg-gray-100 font-semibold text-sm hover:text-black focus:text-black md:text-base cursor-default flex items-center text-gray-700 outline-none" name="custom-input-number" value="0">
                    </input>
                    <button data-action="increment" class="bg-gray-100 rounded-r-full text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-8 rounded-r cursor-pointer">
                      <span class="m-auto text-sm font-thin">+</span>
                    </button>
                </div>    

                <button class="addButton w-10 h-10 text-white rounded-full flex items-center justify-center" data-product-id="{{ produto.id }}" data-vendedor-id="{{ vendedor.id }}">
                    <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect width="36" height="36" rx="18" fill="#23AA49"/>
                      <g clip-path="url(#clip0_42_71)">
                        <path d="M25 17H19V11C19 10.4477 18.5523 10 18 10C17.4477 10 17 10.4477 17 11V17H11C10.4477 17 10 17.4477 10 18C10 18.5523 10.4477 19 11 19H17V25C17 25.5523 17.4477 26 18 26C18.5523 26 19 25.5523 19 25V19H25C25.5523 19 26 18.5523 26 18C26 17.4477 25.5523 17 25 17Z" fill="white"/>
                      </g>
                      <defs>
                        <clipPath id="clip0_42_71">
                          <rect width="16" height="16" fill="white" transform="translate(10 10)"/>
                        </clipPath>
                      </defs>
                    </svg>
                  </button>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </main>
      <script>
      </script>
      
      
      
      
      


{% endblock %}