{% extends 'base.html' %} {% block content %}
<div class="container mx-auto pb-16">
  <div class="bg-gray-100 w-full pr-4 pl-4 pb-0">
    <div class="flex justify-between items-center mb-4">
      <div>
        <img
          src="https://imgur.com/Y9pQSd7.png"
          alt="Logo"
          class="w-32 h-auto md:w-32 md:h-auto"
        />
      </div>
      <div>
        <div class="relative inline-flex items-center">
          <div
            class="absolute left-4 top-1/2 transform -translate-y-1/2 pointer-events-none"
          >
            <svg
              width="15"
              height="18"
              viewBox="0 0 15 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.7887 5.88293C13.9014 1.82634 10.4958 0 7.50422 0C7.50422 0 7.50422 0 7.49577 0C4.51267 0 1.09858 1.81756 0.21125 5.87415C-0.777485 10.4049 1.89294 14.242 4.30985 16.6566C5.20563 17.5522 6.35493 18 7.50422 18C8.65352 18 9.80282 17.5522 10.6901 16.6566C13.1071 14.242 15.7775 10.4137 14.7887 5.88293ZM7.50422 10.282C6.0338 10.282 4.84225 9.0439 4.84225 7.5161C4.84225 5.98829 6.0338 4.75024 7.50422 4.75024C8.97465 4.75024 10.1662 5.98829 10.1662 7.5161C10.1662 9.0439 8.97465 10.282 7.50422 10.282Z"
                fill="#23AA49"
              />
            </svg>
          </div>

          <select
            class="px-4 py-2 pl-10 pr-8 min-w-min h-12 bg-white text-gray-700 rounded-full appearance-none focus:bg-white"
            style="width: auto"
          >
            <option value="Setor I">Setor I</option>
            {% for setor in setores %}
            <option value="{{ setor }}">{{ setor }}</option>
            {% endfor %}
          </select>

          <div
            class="absolute right-2 top-1/2 transform -translate-y-1/2 pointer-events-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 text-gray-500"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-8 pr-8 pl-8">
      <div class="relative">
        <input
          type="text"
          class="w-full h-12 px-4 py-2 rounded-full pl-10"
          placeholder="Busque por prato, vendedor, ou categoria"
        />
        <div class="absolute inset-y-0 left-0 flex items-center pl-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 text-green-500"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
            />
          </svg>
        </div>
      </div>
    </div>

    <!-- This is an example component -->
    <div class="max-w-2xl mx-auto">
      <div id="default-carousel" class="relative" data-carousel="static">
        <!-- Carousel wrapper -->
        <div
          class="overflow-hidden relative h-56 rounded-lg sm:h-64 xl:h-80 2xl:h-96"
        >
          <!-- Item 1 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <span
              class="absolute top-1/2 left-1/2 text-2xl font-semibold text-white -translate-x-1/2 -translate-y-1/2 sm:text-3xl dark:text-gray-800"
              >First Slide</span
            >
            <img
              src="https://imgur.com/os5yUlg.png"
              class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2"
              alt="..."
            />
          </div>
          <!-- Item 2 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img
              src="https://imgur.com/NOnNfDD.png"
              class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2"
              alt="..."
            />
          </div>
          <!-- Item 3 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img
              src="https://imgur.com/os5yUlg.png"
              class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2"
              alt="..."
            />
          </div>
        </div>
        <!-- Slider indicators -->
        <div
          class="flex absolute bottom-5 left-1/2 z-30 space-x-3 -translate-x-1/2"
        >
          <button
            type="button"
            class="w-3 h-3 rounded-full"
            aria-current="false"
            aria-label="Slide 1"
            data-carousel-slide-to="0"
          ></button>
          <button
            type="button"
            class="w-3 h-3 rounded-full"
            aria-current="false"
            aria-label="Slide 2"
            data-carousel-slide-to="1"
          ></button>
          <button
            type="button"
            class="w-3 h-3 rounded-full"
            aria-current="false"
            aria-label="Slide 3"
            data-carousel-slide-to="2"
          ></button>
        </div>
        <!-- Slider controls -->
        <button
          type="button"
          class="flex absolute top-0 left-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none"
          data-carousel-prev
        >
          <span
            class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
          >
            <svg
              class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 19l-7-7 7-7"
              ></path>
            </svg>
            <span class="hidden">Previous</span>
          </span>
        </button>
        <button
          type="button"
          class="flex absolute top-0 right-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none"
          data-carousel-next
        >
          <span
            class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
          >
            <svg
              class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7"
              ></path>
            </svg>
            <span class="hidden">Next</span>
          </span>
        </button>
      </div>
      <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
    </div>
  </div>

  <h5 class="text-xl font-bold text-left my-2 pl-4">Vendedores</h5>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 pr-4 pl-4"
  >
    {% for vendedor in vendedores %}
    <div class="bg-white rounded p-4">
      <div class="flex items-center justify-left">
        <div class="w-20 h-20 bg-gray-200 rounded-full overflow-hidden">
          <img src="https://imgur.com/XX4P9Mt.png" alt="{{ vendedor.nome }}" class="w-full h-full object-cover">
        </div>
        <div class="ml-4">
          <h5 class="text-lg font-bold leading-tight my-1">{{ vendedor.nome }}</h5>
          <p class="text-gray-600 text-sm leading-tight mb-1">8h30 às 18h30</p>
        </div>
      </div>
    </div>
    
  
    {% endfor %}
  </div>

  <footer
    class="fixed bottom-0 left-0 right-0 bg-white h-16 flex items-center justify-between pl-12 pr-12"
  >
    <button>
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="24" height="24" fill="white" />
        <path
          d="M20.05 6.81774L14.29 2.78774C12.72 1.68774 10.31 1.74774 8.8 2.91774L3.79 6.82774C2.79 7.60774 2 9.20774 2 10.4677V17.3677C2 19.9177 4.07 21.9977 6.62 21.9977H17.4C19.95 21.9977 22.02 19.9277 22.02 17.3777V10.5977C22.02 9.24774 21.15 7.58774 20.05 6.81774ZM12.76 17.9977C12.76 18.4077 12.42 18.7477 12.01 18.7477C11.6 18.7477 11.26 18.4077 11.26 17.9977V14.9977C11.26 14.5877 11.6 14.2477 12.01 14.2477C12.42 14.2477 12.76 14.5877 12.76 14.9977V17.9977Z"
          fill="#06161C"
        />
      </svg>
    </button>
    <button>
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="24" height="24" fill="white" />
        <path
          d="M7.24 2H5.34C3.15 2 2 3.15 2 5.33V7.23C2 9.41 3.15 10.56 5.33 10.56H7.23C9.41 10.56 10.56 9.41 10.56 7.23V5.33C10.57 3.15 9.42 2 7.24 2Z"
          fill="#DBDBDB"
        />
        <path
          d="M18.6699 2H16.7699C14.5899 2 13.4399 3.15 13.4399 5.33V7.23C13.4399 9.41 14.5899 10.56 16.7699 10.56H18.6699C20.8499 10.56 21.9999 9.41 21.9999 7.23V5.33C21.9999 3.15 20.8499 2 18.6699 2Z"
          fill="#DBDBDB"
        />
        <path
          d="M18.6699 13.43H16.7699C14.5899 13.43 13.4399 14.58 13.4399 16.76V18.66C13.4399 20.84 14.5899 21.99 16.7699 21.99H18.6699C20.8499 21.99 21.9999 20.84 21.9999 18.66V16.76C21.9999 14.58 20.8499 13.43 18.6699 13.43Z"
          fill="#DBDBDB"
        />
        <path
          d="M7.24 13.43H5.34C3.15 13.43 2 14.58 2 16.76V18.66C2 20.85 3.15 22 5.33 22H7.23C9.41 22 10.56 20.85 10.56 18.67V16.77C10.57 14.58 9.42 13.43 7.24 13.43Z"
          fill="#DBDBDB"
        />
      </svg>
    </button>
    <button
      class="relative flex items-center justify-center w-12 h-12 rounded-full bg-green-600"
    >
      <svg
        width="20"
        height="21"
        viewBox="0 0 20 21"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M17.24 3.5825H16.84L13.46 0.2025C13.19 -0.0675 12.75 -0.0675 12.47 0.2025C12.2 0.4725 12.2 0.9125 12.47 1.1925L14.86 3.5825H5.14L7.53 1.1925C7.8 0.9225 7.8 0.4825 7.53 0.2025C7.26 -0.0675 6.82 -0.0675 6.54 0.2025L3.17 3.5825H2.77C1.87 3.5825 0 3.5825 0 6.1425C0 7.1125 0.2 7.7525 0.62 8.1725C0.86 8.4225 1.15 8.5525 1.46 8.6225C1.75 8.6925 2.06 8.7025 2.36 8.7025H17.64C17.95 8.7025 18.24 8.6825 18.52 8.6225C19.36 8.4225 20 7.8225 20 6.1425C20 3.5825 18.13 3.5825 17.24 3.5825Z"
          fill="white"
        />
        <path
          d="M17.05 10.0025H2.87003C2.25003 10.0025 1.78003 10.5525 1.88003 11.1625L2.72003 16.3025C3.00003 18.0225 3.75003 20.0025 7.08003 20.0025H12.69C16.06 20.0025 16.66 18.3125 17.02 16.4225L18.03 11.1925C18.15 10.5725 17.68 10.0025 17.05 10.0025ZM8.61003 16.4525C8.61003 16.8425 8.30003 17.1525 7.92003 17.1525C7.53003 17.1525 7.22003 16.8425 7.22003 16.4525V13.1525C7.22003 12.7725 7.53003 12.4525 7.92003 12.4525C8.30003 12.4525 8.61003 12.7725 8.61003 13.1525V16.4525ZM12.89 16.4525C12.89 16.8425 12.58 17.1525 12.19 17.1525C11.81 17.1525 11.49 16.8425 11.49 16.4525V13.1525C11.49 12.7725 11.81 12.4525 12.19 12.4525C12.58 12.4525 12.89 12.7725 12.89 13.1525V16.4525Z"
          fill="white"
        />
      </svg>

      <div
        class="absolute -bottom-2 -center-2 bg-red-500 w-6 h-6 rounded-full flex items-center justify-center text-white text-xs font-bold border-2 border-white"
      >
        5
      </div>
    </button>
    <button>
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="24" height="24" fill="white" />
        <path
          d="M8.75 4.25V2.75C8.75 2.34 8.41 2 8 2C7.59 2 7.25 2.34 7.25 2.75V4.31C7.5 4.28 7.73 4.25 8 4.25H8.75Z"
          fill="#DBDBDB"
        />
        <path
          d="M16.75 4.31V2.75C16.75 2.34 16.41 2 16 2C15.59 2 15.25 2.34 15.25 2.75V4.25H16C16.27 4.25 16.5 4.28 16.75 4.31Z"
          fill="#DBDBDB"
        />
        <path
          d="M16.75 4.31V5.75C16.75 6.16 16.41 6.5 16 6.5C15.59 6.5 15.25 6.16 15.25 5.75V4.25H8.75V5.75C8.75 6.16 8.41 6.5 8 6.5C7.59 6.5 7.25 6.16 7.25 5.75V4.31C4.3 4.58 3 6.48 3 9.25V17.75C3 20.75 4.5 22.75 8 22.75H16C19.5 22.75 21 20.75 21 17.75V9.25C21 6.48 19.7 4.58 16.75 4.31ZM12 17.5H8C7.59 17.5 7.25 17.16 7.25 16.75C7.25 16.34 7.59 16 8 16H12C12.41 16 12.75 16.34 12.75 16.75C12.75 17.16 12.41 17.5 12 17.5ZM16 12.5H8C7.59 12.5 7.25 12.16 7.25 11.75C7.25 11.34 7.59 11 8 11H16C16.41 11 16.75 11.34 16.75 11.75C16.75 12.16 16.41 12.5 16 12.5Z"
          fill="#DBDBDB"
        />
      </svg>
    </button>

    <button>
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="24" height="24" fill="white" />
        <path
          d="M12.09 12C14.8514 12 17.09 9.76142 17.09 7C17.09 4.23858 14.8514 2 12.09 2C9.32854 2 7.08997 4.23858 7.08997 7C7.08997 9.76142 9.32854 12 12.09 12Z"
          fill="#DBDBDB"
        />
        <path
          d="M12.09 14.5C7.08 14.5 3 17.86 3 22C3 22.28 3.22 22.5 3.5 22.5H20.68C20.96 22.5 21.18 22.28 21.18 22C21.18 17.86 17.1 14.5 12.09 14.5Z"
          fill="#DBDBDB"
        />
      </svg>
    </button>
  </footer>
</div>
{% endblock %}
