{% extends 'base.html' %} {% block content %}
<div class="container mx-auto pb-16">
  <div class="bg-gray-100 w-full pr-4 pl-4 pb-0">
    <div class="flex justify-between items-center mb-4">
      <div>
        <img
          src="https://imgur.com/Y9pQSd7.png"
          alt="Logo"
          class="w-32 h-auto md:w-32 md:h-auto"
        />
      </div>
      <div>
        <div class="relative inline-flex items-center">
          <div
            class="absolute left-4 top-1/2 transform -translate-y-1/2 pointer-events-none"
          >
            <svg
              width="15"
              height="18"
              viewBox="0 0 15 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.7887 5.88293C13.9014 1.82634 10.4958 0 7.50422 0C7.50422 0 7.50422 0 7.49577 0C4.51267 0 1.09858 1.81756 0.21125 5.87415C-0.777485 10.4049 1.89294 14.242 4.30985 16.6566C5.20563 17.5522 6.35493 18 7.50422 18C8.65352 18 9.80282 17.5522 10.6901 16.6566C13.1071 14.242 15.7775 10.4137 14.7887 5.88293ZM7.50422 10.282C6.0338 10.282 4.84225 9.0439 4.84225 7.5161C4.84225 5.98829 6.0338 4.75024 7.50422 4.75024C8.97465 4.75024 10.1662 5.98829 10.1662 7.5161C10.1662 9.0439 8.97465 10.282 7.50422 10.282Z"
                fill="#23AA49"
              />
            </svg>
          </div>

          <!---Seletor de setores-->
          <select id="setorSelect" class="px-4 py-2 pl-10 pr-8 min-w-min h-12 bg-white text-gray-700 rounded-full appearance-none focus:bg-white" style="width: auto">
            <option value="">Setor</option>
            {% with setores_ordenados=setores|dictsort:'nome' %}
              {% for setor in setores_ordenados %}
                <option value="{{ setor.id }}">{{ setor.nome }}</option>
              {% endfor %}
            {% endwith %}  
          </select>

          <div
            class="absolute right-2 top-1/2 transform -translate-y-1/2 pointer-events-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 text-gray-500"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-8 pr-8 pl-8">
      <div class="relative">
        <input
          type="text"
          id="searchInput"
          class="w-full h-12 px-4 py-2 rounded-full pl-10"
          placeholder="Insira aqui o nome do vendedor"
        />
        <div class="absolute inset-y-0 left-0 flex items-center pl-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 text-green-500"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
            />
          </svg>
        </div>
      </div>
    </div>

    <!-- This is an example component -->
    <div class="max-w-2xl mx-auto">
      <div id="default-carousel" class="relative" data-carousel="static">
        <!-- Carousel wrapper -->
        <div
          class="overflow-hidden relative h-56 rounded-lg sm:h-64 xl:h-80 2xl:h-96"
        >
          <!-- Item 1 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <span
              class="absolute top-1/2 left-1/2 text-2xl font-semibold text-white -translate-x-1/2 -translate-y-1/2 sm:text-3xl dark:text-gray-800"
              >First Slide</span
            >
            <img
              src="https://imgur.com/os5yUlg.png"
              class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2"
              alt="..."
            />
          </div>
          <!-- Item 2 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img
              src="https://imgur.com/NOnNfDD.png"
              class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2"
              alt="..."
            />
          </div>
          <!-- Item 3 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img
              src="https://imgur.com/os5yUlg.png"
              class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2"
              alt="..."
            />
          </div>
        </div>
        <!-- Slider indicators -->
        <div
          class="flex absolute bottom-5 left-1/2 z-30 space-x-3 -translate-x-1/2"
        >
          <button
            type="button"
            class="w-3 h-3 rounded-full"
            aria-current="false"
            aria-label="Slide 1"
            data-carousel-slide-to="0"
          ></button>
          <button
            type="button"
            class="w-3 h-3 rounded-full"
            aria-current="false"
            aria-label="Slide 2"
            data-carousel-slide-to="1"
          ></button>
          <button
            type="button"
            class="w-3 h-3 rounded-full"
            aria-current="false"
            aria-label="Slide 3"
            data-carousel-slide-to="2"
          ></button>
        </div>
        <!-- Slider controls -->
        <button
          type="button"
          class="flex absolute top-0 left-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none"
          data-carousel-prev
        >
          <span
            class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
          >
            <svg
              class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 19l-7-7 7-7"
              ></path>
            </svg>
            <span class="hidden">Previous</span>
          </span>
        </button>
        <button
          type="button"
          class="flex absolute top-0 right-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none"
          data-carousel-next
        >
          <span
            class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
          >
            <svg
              class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7"
              ></path>
            </svg>
            <span class="hidden">Next</span>
          </span>
        </button>
      </div>
      <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
    </div>
  </div>

  <h5 class="text-xl font-bold text-left my-2 pl-4">Vendedores</h5>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 pr-4 pl-4"
  >
  <div id="vendedoresContainer"></div>
<script>
document.addEventListener("DOMContentLoaded", function() {
  var setorSelect = document.getElementById("setorSelect");
  var searchInput = document.getElementById("searchInput");

  setorSelect.addEventListener("change", function() {
    var selectedValue = setorSelect.value;
    sessionStorage.setItem("selectedSetor", selectedValue);
    carregarVendedores(selectedValue, searchInput.value);
  });

  searchInput.addEventListener("keyup", function(event) {
    if (event.key === "Enter") {
      var selectedSetor = sessionStorage.getItem("selectedSetor");
      carregarVendedores(selectedSetor, searchInput.value);
    }
  });

  var selectedSetor = sessionStorage.getItem("selectedSetor");
  if (selectedSetor) {
    setorSelect.value = selectedSetor;
    carregarVendedores(selectedSetor, searchInput.value);
  } else {
    mostrarEmptyState();
  }
});

function carregarVendedores(setorId, searchTerm) {
  if (setorId === '') {
    mostrarEmptyState();
    return;
  }

  $.ajax({
    url: '/buscar-vendedores/',
    method: 'GET',
    data: {
      setor_id: setorId,
      search_term: searchTerm
    },
    success: function(response) {
      if ($.trim(response) === '') {
        $('#vendedoresContainer').html('<center><img src="https://imgur.com/meJbcrc.png" /><p class="text-xl mt-8">Não há vendedores cadastrados nesse setor</p></center>');
      } else {
        $('#vendedoresContainer').html(response);
      }
    },
    error: function() {
      console.error('Ocorreu um erro ao buscar os vendedores.');
    }
  });
}

function mostrarEmptyState() {
  $('#vendedoresContainer').html('<center><img src="https://imgur.com/meJbcrc.png" /><p class="text-xl mt-8">Selecione um setor para exibir os vendedores</p></center>');
}

</script>

  
  
  
  


</div>
{% endblock %}
