{% extends 'base.html' %}

{% block content %}
    <div class="container mx-auto py-8">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
            {% for produto in produtos %}
                <div class="bg-white rounded shadow-md p-4">
                    <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}" class="w-full h-40 object-cover mb-4">
                    <h5 class="text-xl font-bold mb-2">{{ produto.nome }}</h5>
                    <p class="text-gray-600 text-sm mb-4">{{ produto.descricao }}</p>
                    <p class="mb-2"><strong>Preço:</strong> R$ {{ produto.preco }}</p>
                    <a href="{% url 'detalhes_produto' produto.id %}" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition duration-300">Detalhes</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
